/* Variáveis de cores */
:root{
    --preto-primario: #232323;
    --verde-primario: #2DA169;
    --verde-secundario: #248857;
}

/* Faz a devida estilização a todos */
* {
    overflow-x: hidden; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#banner{
    display: flex;
    margin: auto;
    width: 65vw;
    border-radius: 10px;
    box-shadow: var(--black-primary) 0px 5px 15px;

}

/* Barra do website com anchors/butões que leva a diferentes seções */
#navbar{
    display: flex;
    position: relative;
    justify-content: space-around;
    color: #232323;

    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(rgb(27, 27, 27));
    height: 10vh;
    margin: -10px -2% 80px -2%;
    box-shadow: var(rgb(27, 27, 27)) 0px 5px 15px;
}

li{
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    list-style: none;
}

li:hover{
    box-shadow: var(--green-primary) 0px 2px 0px;
    font-size: large;
}

/* Logo do website feita por mim */
#logo{
    height: 15vh;
    display: block;
    margin-bottom: -10px;
}

/* Estilização das anchors que leva até a devida seção */
a {
    color: white;
    letter-spacing: 4px;
    list-style: none;
    text-decoration: none;
}

/* Ao passar o mouse por cima na anchor aparece uma linha verde em baixo e aumenta a font */
a:hover{
    box-shadow: var(--verde-primario) 0px 2px 0px;
    font-size: large;
}

/* Seções */
.seções {
    margin: 6vh auto;
    justify-content: space-around;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.seções h1{
    padding: 80px 80px 140px 80px;
    text-align: center;
}

/* Seção primária onde explica oque queremos alcançar com este site */
#seção_primaria {
    border-radius: 10% 10% 0% 0%;
    background-color: rgb(36, 36, 36);
    text-align: center;
}

/* Seção do trigo, explicando o processo deste plantio do campo até a cidade */
#seção_trigo {
    background-color: rgb(36, 36, 36);
    padding-bottom: 30vh;
    text-align: center;
}

/* Seção da soja, explicando o processo deste plantio do campo até a cidade */
#seção_soja {
    background-color: #2C2C33;
    padding-bottom: 30vh;
    text-align: center;
}

/* Seção do milho, explicando o processo deste plantio do campo até a cidade */
#seção_milho {
    border-radius: 0% 0% 10% 10%;
    background-color: #34343c;
    padding-bottom: 30vh;
    text-align: center;
}


/* Responsividade */
@media only screen and (max-width: 768px) { 
    /* Remove a logo para encaixar melhor ao dispositivo móvel */
    #logo {
      text-align: center;
    }

    a {
        display: none;
    }
  }